<div *ngIf="sidekick">
    <h2>{{sidekick.name | uppercase}} Details</h2>
    <div><span>ID: </span>{{sidekick.id}}
    </div>
     Hero:
     <a routerLink="/detail/{{hero.id}}" style="text-decoration: none" class="hero">
         <span class="hero">{{hero.name}}</span>
    </a>
    <div>
        <label>Name:
            <input [(ngModel)]="sidekick.name" placeholder="sidekick"/>
        </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
 